.images {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0vmax;
    justify-content: center;
    min-height: 30vh;
}

.imageCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.imageCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform:  translateY(-1vmax);
}